.user-profile-form-container {
  max-width: 600px;
  margin: 20px auto;
  color: #707070;;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
}

.user-profile-form {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    color: #6b7280;
    margin-bottom: 20px;
  }

  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    label {
      font-size: 14px;
      display: block;
    }

    input {
      width: 60%;
      padding: 12px;
      border: 1px solid #d1d5db;
      border-radius: 5px;
      font-size: 16px;
      margin-top: 8px;
    }
  }

  .profile-picture-section {
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    background: #FAFAFA;

    .profile-picture-container {
      display: flex;
      width: 100%;
      gap: 10%;
      align-items: center;
    }

    .prof-label-input {
      display: flex;
      gap: 5%;
      align-items: center;
    }

    .prof-label {
      font-size: 14px;
      text-align: left;
      width: 30%;
    }

    .profile-picture-placeholder {
      width: 150px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #d1d5db;
      border-radius: 10px;
      font-size: 14px;
      color: #6b7280;
      cursor: pointer;
    }

    .profile-picture {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 15px;
      border: 2px solid #d1d5db;
      cursor: pointer;
    }

    .profile-picture-placeholder:hover {
      background-image: url("../../assets/photo.png");
      background-size: 60px 60px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #000002;

    }
    
    .profile-picture:hover {
      background-image: url("../../assets/photo.png");
      background-size: 60px 60px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #000002;

    }

    .image-requirements {
      width: 55%;
      font-size: 12px;
      color: #6b7280;
      margin-top: 8px;
      text-align: left;
    }
  }

  .form-inputs {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: #FAFAFA;
  }

  .save-button-container {
    display: flex;
    justify-content: right;
    margin-top: 20px !important;
  }

  .save-button {
    background-color: #5a67d8;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 15%;
    font-size: 16px;
    margin-bottom: 10px;

    &:hover {
      background-color: #434190;
    }
  }

  .save-notification {
    text-align: center;
    font-size: 14px;
    color: #10b981;
    background-color: #f0fdf4;
    padding: 10px;
    border-radius: 5px;
    display: none; /* You can toggle this in the state to show on successful save */
  }
}
