.preview-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9fb;

  .profile-card {
    display: grid;
    grid-template-rows: 220px 150px 300px;
    justify-items: center;
    align-items: start; /* Aligns the content at the top by default */
    width: 320px;
    height: 640px;
    background-image: url('../../assets/mock_phone.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 20px;
    border-radius: 40px;
    position: relative;

    grid-template-areas: 
      "image"
      "info"
      "links";

    .profile-image-container {
      grid-area: image;  
      align-self: end; /* Align the image at the bottom of the grid area */
      justify-self: center; /* Ensures it remains centered horizontally */
      margin-left: 10px;
    }

    .profile-image {
      grid-area: image;
      width: 96px;
      height: 96px;
      border-radius: 50%;
      border: 5px solid #6b47dc;
      box-shadow: 0 0 10px #6b47dc;
      object-fit: cover;
      align-self: end; /* Align the image at the bottom of the grid area */
      justify-self: center; /* Ensures it remains centered horizontally */
      margin-left: 10px;
    }

    .profile-details {
      grid-area: info;
      text-align: center;
      margin-top: 20px;
      margin-left: 10px;

      .profile-name {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        margin-bottom: 8px;
        margin-left: 10px;
      }

      .profile-email {
        font-size: 1rem;
        color: #828282;
        margin-bottom: 24px;
        margin-left: 10px;
      }
    }

    .links-container {
      grid-area: links;
      display: grid;
      gap: 12px;
      width: 65%;
      margin-top: 40px;
      height: 10%;
      margin-left: 10px;

      .link-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 18px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
        transition: background-color 0.2s ease-in-out;
        color: #fff;

        /* Icons and spacing */
        span {
          margin-left: 12px;
        }

        /* Style for platform-specific links */
        &.github {
          background-color: #333;
        }

        &.youtube {
          background-color: #ff0000;
        }

        &.linkedin {
          background-color: #0077b5;
        }

        &::after {
          content: '➔';
          font-size: 1.25rem;
        }

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}
